# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity meta files for empty folders
**/[Hh]idden~/

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# JetBrains
.idea/